# Dictionary

In [2]:
d = {}
type(d)

dict

In [3]:
d = {"name" : "sharmi" , "emiil_id" : "ksharmi1998@gmail.com" , "number" :123456, 1: "abc"}

In [4]:
d["name"]

'sharmi'

In [5]:
d.keys()

dict_keys(['name', 'emiil_id', 'number', 1])

In [6]:
d.values()

dict_values(['sharmi', 'ksharmi1998@gmail.com', 123456, 'abc'])

In [7]:
d1 = {@ :"abc"}

SyntaxError: invalid syntax (2310867297.py, line 1)

In [ ]:
d1 = {True :"abc"}

In [ ]:
d2 = {# : "abc"}

SyntaxError: unexpected EOF while parsing (2358084340.py, line 1)

In [ ]:
d3 = {[1,2,3] :"abc"}

TypeError: unhashable type: 'list'

In [ ]:
d4 = {(1,2,3) : "abc"}

In [ ]:
d5 = {{1,2,3} :"abc"}

TypeError: unhashable type: 'set'

In [ ]:
d6 = {{"key":234} : "abc"}

TypeError: unhashable type: 'dict'

In [ ]:
d7 = {"key" : d}
d7

{'key': {'name': 'sharmi',
  'emiil_id': 'ksharmi1998@gmail.com',
  'number': 123456,
  1: 'abc'}}

In [ ]:
d7["phone"] = 3862192738

In [ ]:
d7

{'key': {'name': 'sharmi',
  'emiil_id': 'ksharmi1998@gmail.com',
  'number': 123456,
  1: 'abc'},
 'phone': 3862192738}

In [ ]:
d8 = {'name': 'sharmistha',
'batch_name':'data science bootcamp',
'course':'Data Science',
'duration':'4 months',
'mentor_name': {'anurag','hayder','hitesh','krish naik','navin','sudhanshu'},
'timing': (6, 8)}

In [ ]:
d8["name"].upper()

'SHARMISTHA'

In [ ]:
list(d8.keys())

['name', 'batch_name', 'course', 'duration', 'mentor_name', 'timing']

In [ ]:
list(d8.items())

[('name', 'sharmistha'),
 ('batch_name', 'data science bootcamp'),
 ('course', 'Data Science'),
 ('duration', '4 months'),
 ('mentor_name',
  {'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'}),
 ('timing', (6, 8))]

#### deep copy, the copied version is not linked to the original one
This method creates a new object and copies the value of the other object.
It does not share any data with the original object. If you modify the copied object, it will not
affect the original object and vice versa.

In [ ]:
import copy
d9 = d8.copy()
d9

{'name': 'sharmistha',
 'batch_name': 'data science bootcamp',
 'course': 'Data Science',
 'duration': '4 months',
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (6, 8)}

In [ ]:
del d9["name"]
d9

{'batch_name': 'data science bootcamp',
 'course': 'Data Science',
 'duration': '4 months',
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (6, 8)}

In [ ]:
d8

{'name': 'sharmistha',
 'batch_name': 'data science bootcamp',
 'course': 'Data Science',
 'duration': '4 months',
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (6, 8)}

##### shallow copy: copies references of objects, so changes in one dict will affect another

In [ ]:
d10 = d8
d10

{'name': 'sharmistha',
 'batch_name': 'data science bootcamp',
 'course': 'Data Science',
 'duration': '4 months',
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (6, 8)}

#### difference between "del" and "pop" method
* both will remove the key:value pair. 
* Calling "del" method doesn’t return any value, it simply removes the key along with its associated value. but "pop" method will return the value of the removed key.

In [ ]:
del d10["name"]
d10

{'batch_name': 'data science bootcamp',
 'course': 'Data Science',
 'duration': '4 months',
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (6, 8)}

In [ ]:
d8

{'batch_name': 'data science bootcamp',
 'course': 'Data Science',
 'duration': '4 months',
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (6, 8)}

In [ ]:
#"pop" method remove the items form dictionary.
d10.pop('mentor_name')

{'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'}

In [ ]:
d10

{'batch_name': 'data science bootcamp',
 'course': 'Data Science',
 'duration': '4 months',
 'timing': (6, 8)}

In [ ]:
d11 = {}
d11.fromkeys((1,2,3) , ('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [ ]:
d11

{}

In [ ]:
d12 = {"key1" : "value" , "key2" : "value2"}
d13 = {"key3" : "value3" , "key4" :"value4"}

In [ ]:
(d12,d13)

({'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [ ]:
d12.update(d13)
d12

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [ ]:
d13

{'key3': 'value3', 'key4': 'value4'}

In [ ]:
d13.update(d12)
d13

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [ ]:
d12.get("shar")

In [ ]:
d12.get("key3")

'value3'

### Dictionary comprehension

In [ ]:
d14 = {i: i**2 for i in range(1,11)}
d14

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
import math
d15 = {i :math.log10(i) for i in range(1,11)}
d15

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [ ]:
#filtered one which has only even keys from d15
d16 = {key: value for (key,value) in d15.items() if key%2 == 0}
d16

{2: 0.3010299956639812,
 4: 0.6020599913279624,
 6: 0.7781512503836436,
 8: 0.9030899869919435,
 10: 1.0}

### check if a key exists in a dictionary

In [8]:
d

{'name': 'sharmi',
 'emiil_id': 'ksharmi1998@gmail.com',
 'number': 123456,
 1: 'abc'}

In [10]:
"name" in d.keys()

True

#### merge dictionary

In [21]:
# using update() method

dict1 = {'a': 10, 'b': 8}
dict2 = {'c': 6, 'c': 4}
dict1.update(dict2)
print(dict1)

{'a': 10, 'b': 8, 'c': 4}

In [25]:
# Using Dictionary Unpacking 

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}