# Python Data Structure - Tuples


Tuples are used to store multiple items in a single variable. In Python, tuples can be created by placing the elements inside parentheses `()`, separated by commas.
* Tuple is a collection of objects which are ``ordered`` and ``immutable``(pyhton will raise an error if we try to change the value inside the tuple).
* Tuple is ``heterogeneous`` because it can contain elements of different data types, such as numbers, strings or other tuples. 
* Tuples can allow to contain ``duplicate`` values.
* python also allows to create empty tuples using parentheses `( )`.
* python provides built-in functions like `len()`, `max()`, `min()` etc., that work on tuples.
* Usage: python tuples are used when you need an ordered set of immutable data.

In [1]:
t = (1,2,3)
type(t)

tuple

In [2]:
t = (1,8,2,7,4,9,False,2,3,4,True,[1,2])
type(t)

tuple

In [3]:
# we can extract from tuples,
t[:-1]

(1, 8, 2, 7, 4, 9, False, 2, 3, 4, True)

In [4]:
#reverse the tuples
t[::-1]

([1, 2], True, 4, 3, 2, False, 9, 4, 7, 2, 8, 1)

In [5]:
t = t[::-1]
t

([1, 2], True, 4, 3, 2, False, 9, 4, 7, 2, 8, 1)

In [6]:
#tuple has two in build methods count(), index()
t.count(4)

2

In [7]:
#return index of 1st occurance of the given num
t.index(2)

4

In [8]:
# internally system store the valu of "True"= 1
t.index(1)

1

In [9]:
t1 = (2,True,6,[1,6],6,1,8,6,6+7j)
t1.index(1)

1

In [10]:
t1.count(True)

2

In [11]:
t1

(2, True, 6, [1, 6], 6, 1, 8, 6, (6+7j))

In [12]:
#item assignment
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

#### tuples follows Immutability concepts where it is not going to allow to change any elements at a particular index

In [ ]:
for i in t1:
    print(i, type(i))

2 <class 'int'>
True <class 'bool'>
6 <class 'int'>
[1, 6] <class 'list'>
6 <class 'int'>
1 <class 'int'>
8 <class 'int'>
6 <class 'int'>
(6+7j) <class 'complex'>

### we can iterate through tuple

In [ ]:
t2 = (1,2)

In [ ]:
t3 = t2* 3
t3

(1, 2, 1, 2, 1, 2)

In [ ]:
max(t3)

2

In [ ]:
del t3

In [ ]:
len(t2)

2

In [ ]:
t4 = (1,2,3,5,"shar",2,5)

In [ ]:
"shar" in t4

True