# Python Data Structure - Tuples

In [14]:
t = (1,2,3)
type(t)

tuple

In [15]:
t = (1,8,2,7,4,9,False,2,3,4,True,[1,2])
type(t)

tuple

In [16]:
# we can extract from tuples,
t[:-1]

(1, 8, 2, 7, 4, 9, False, 2, 3, 4, True)

In [17]:
#reverse the tuples
t[::-1]

([1, 2], True, 4, 3, 2, False, 9, 4, 7, 2, 8, 1)

In [18]:
t = t[::-1]
t

([1, 2], True, 4, 3, 2, False, 9, 4, 7, 2, 8, 1)

In [19]:
#tuple has two in build methods count(), index()
t.count(4)

2

In [20]:
#return index of 1st occurance of the given num
t.index(2)

4

In [21]:
# internally system store the valu of "True"= 1
t.index(1)

1

In [22]:
t1 = (2,True,6,[1,6],6,1,8,6,6+7j)
t1.index(1)

1

In [23]:
t1.count(True)

2

In [24]:
t1

(2, True, 6, [1, 6], 6, 1, 8, 6, (6+7j))

In [25]:
#item assignment
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

#### tuples follows Immutability concepts where it is not going to allow to change any elements at a particular index

In [26]:
for i in t1:
    print(i, type(i))

2 <class 'int'>
True <class 'bool'>
6 <class 'int'>
[1, 6] <class 'list'>
6 <class 'int'>
1 <class 'int'>
8 <class 'int'>
6 <class 'int'>
(6+7j) <class 'complex'>

### we can iterate through tuple

In [27]:
t2 = (1,2)

In [28]:
t3 = t2* 3
t3

(1, 2, 1, 2, 1, 2)

In [29]:
max(t3)

2

In [30]:
del t3

In [31]:
len(t2)

2

In [32]:
t4 = (1,2,3,5,"shar",2,5)

In [33]:
"shar" in t4

True

In [34]:
t4.add(7)

AttributeError: 'tuple' object has no attribute 'add'

#### Add new element in tuple

In [37]:
# using +,+= operator

t1 = (1,2,3)
t2 = 4
t1 += (t2,)
print(t1)

(1, 2, 3, 4)

#### remove element from tuple

In [38]:
original_tuple = (1, 2, 3, 4, 5)
element_to_remove = 3
new_tuple = tuple(item for item in original_tuple if item != element_to_remove)
print(new_tuple)

(1, 2, 4, 5)