# Strings

In [1]:
str1 = "shar"

In [2]:
str1[0]

's'

In [3]:
str1[1] ="N" #string is immutable. we can't assign any item.

TypeError: 'str' object does not support item assignment

In [4]:
str2 = "sharmi"
str3 = "sharmi"
print(id(str2), id(str3)) #both the id is same. same strings have same memory location.

1898793842416 1898793842416

In [5]:
str4 = "sharmi"
str5 = "sharmi1"
print(id(str4), id(str5))

1898793842416 1898790381360

In [6]:
list1 = [1,2,3]
list2 = [1,2,3]
print(id(list1), id(list2))  
list1[0]= 8 # list is mutable, we can change the elements inside the list.
print(list1)
print(list2)

1898794139520 1898794196864
[8, 2, 3]
[1, 2, 3]

#### Slicing

In [7]:
str6 = "hello world"

In [8]:
# string[start:stop:step]

str6[0:8:2]

'hlow'

In [9]:
str6[:5]

'hello'

In [10]:
str6[5:-1]

' worl'

In [11]:
str6[-2:]

'ld'

In [12]:
str6[:-2]

'hello wor'

In [13]:
str6[-10:0]

''

In [14]:
str6[:] # return everything

'hello world'

In [15]:
str6[::]

'hello world'

##### reversing a string

In [16]:
# reversing
str6[::-1] #stepsize = 1

'dlrow olleh'

In [17]:
str6[::-2] #stepsize = 2

'drwolh'

In [18]:
str6[::2]

'hlowrd'

In [19]:
str7 = "sharmistha"
str7[3::-1]

'rahs'

In [20]:
course = "Data Science Master"
course[11:4:-1]

'ecneicS'

In [21]:
course[3::-1]

'ataD'

#### concatanation

In [22]:
#concatanition
course = course + " Course"

In [23]:
course

'Data Science Master Course'

In [24]:
course*3

'Data Science Master CourseData Science Master CourseData Science Master Course'

#### Methods and functions

In [25]:
len(course)

26

In [26]:
# index of 1st occurance
course.find("S")

5

In [27]:
# str.find(sub_str,start,stop)

course.find("n",0,10)

9

In [28]:
#if not present,
course.find("Z")

-1

In [29]:
# count()
course.count("a")

3

In [30]:
course.count("a",2,10)

1

In [31]:
course.count("z")

0

In [32]:
#### split() - 
# * returns a list of sub strings using sep as a delimiter string,
# * sep = " " and maxsplit=-1 as default
# * split() split the whole string in every occurance of the seperator.

In [33]:
course.split()

['Data', 'Science', 'Master', 'Course']

In [34]:
course.split("S")

['Data ', 'cience Master Course']

In [35]:
## partition() is same as split() but it contains the seperator also and
# * partition do split only in the first occurance of the sub string.

In [36]:
course.partition("S")

('Data ', 'S', 'cience Master Course')

In [37]:
#upper() and lower()
course.upper()

'DATA SCIENCE MASTER COURSE'

In [38]:
#swapcase()
course.swapcase()

'dATA sCIENCE mASTER cOURSE'

In [39]:
#title
course.title()

'Data Science Master Course'

In [40]:
#capitalize
course.capitalize()

'Data science master course'

#### reversing a string

In [41]:
# reversed() - return a reverse iterator of the given sequence.
name = "Sharmi"

In [42]:
name[::-1]

'imrahS'

In [43]:
reversed(name)

In [44]:
## typecasting
l = list(reversed(name))
l

['i', 'm', 'r', 'a', 'h', 'S']

In [45]:
" ".join(reversed(name))

'i m r a h S'

In [46]:
" ".join("abcd")

'a b c d'

In [47]:
" X ".join("sharmi")

's X h X a X r X m X i'

In [50]:
## Removing character from the last of a string
str_a = " ineuron "

In [51]:
str_a.strip(" ") ## return a copy of the string , remove the whitespace leading and trailing both

'ineuron'

In [52]:
## remove the whitespace leading 
str_a.lstrip(" ")

'ineuron '

In [53]:
str_a.rstrip(" ")

' ineuron'

In [60]:
str_a ## original one doesn't change. Immutable

' ineuron '

#### string is immutable. we can't assign any items directly. But we can manupulate with methods and functions (return a new copy of the string.)

In [56]:
string1 = "My name is Sharmistha kundu"

In [58]:
string1.replace("My", "Her")  #return a new replaced copy of the string.

'Her name is Sharmistha kundu'

In [59]:
string1

'My name is Sharmistha kundu'

In [64]:
"hello \tworld".expandtabs()

'hello   world'

In [67]:
string2 = "welcome to my lab. welcome to dat scinc bootcamp"

In [68]:
string2.replace("dat","data").replace("scinc","science")

'welcome to my lab. welcome to data science bootcamp'

In [69]:
#whether the string is in upper case or not
string2.isupper()

False

In [70]:
#whether the string is in lower case or not
string2.islower()

True

In [71]:
#whether the string has any space
string2.isspace()

False

In [72]:
string2.endswith('p')

True

In [73]:
string2.startswith("a")

False

In [74]:
## check if all the char of str are alphanumeric
str_b = "sjasankd1bd27nd82j8nc9"
str_b.isalnum()

True

In [80]:
string3 = "Data Science"

In [81]:
for i in range(len(string3)):
    print(string3[i])

D
a
t
a

S
c
i
e
n
c
e

In [85]:
## we can use index to iterate string reverse direction
for i in range(len(string3)-1,-1,-1):
    print(string3[i])

e
c
n
e
i
c
S

a
t
a
D

In [90]:
for i in range(len(string3)-1,-1,-1):
    print(string3[i],end= "")

ecneicS ataD

In [89]:
ch = len(string3) -1
while ch >= 0:
    print(string3[ch], end="")
    ch = ch-1

ecneicS ataD

In [91]:
name = "sharmi"
vowels = "AaEeIiOoUu"

In [94]:
for ch in name:
    if ch in vowels:
        print("{} is a vowel".format(ch))
    else:
        print("{} is not a vowel".format(ch))

s is not a vowel
h is not a vowel
a is a vowel
r is not a vowel
m is not a vowel
i is a vowel