In [3]:
# python driver - pymongo
# ! pip install pymongo # if pymongo is not install
import pymongo

In [4]:
# Create a client object connected to the MongoDB server
client = pymongo.MongoClient('mongodb://localhost:27017/')

# Now you're connected! You can start querying data.

In [5]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
client = pymongo.MongoClient('mongodb://localhost:27017/')

In [11]:
# create database 
db = client['ineuron'] # database name - ineuron

In [12]:
# create collection 
coll_create = db["my_record"]

In [24]:
# documents 
data = {'a':1,'b':2}

In [14]:
coll_create.insert_one(data)

InsertOneResult(ObjectId('65de1b8c22fb144c0dcf5e7e'), acknowledged=True)

In [15]:
client.list_database_names()

['admin', 'config', 'ineuron', 'local', 'mydb']

In [16]:
# another document
data1 = {"name" : "sharmi",
        "class" : "data science masters ",
        "timing " : "flexi"
}

In [20]:
coll_create.insert_one(data1)

InsertOneResult(ObjectId('65de1daa22fb144c0dcf5e7f'), acknowledged=True)

In [17]:
# another document
data2 = {"list_course" : ["data science masters " ,"end-to-end-ml-project" , "machine learning bootcamp"],
        "mentor" : ["sudhanshu" , "krish" , "anurag", "bapi"]}

In [21]:
coll_create.insert_one(data2)

InsertOneResult(ObjectId('65de1db422fb144c0dcf5e80'), acknowledged=True)

In [19]:
# list of documents
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [23]:
coll_create.insert_many(data3)

InsertManyResult([ObjectId('65de1df122fb144c0dcf5e81'), ObjectId('65de1df122fb144c0dcf5e82'), ObjectId('65de1df122fb144c0dcf5e83'), ObjectId('65de1df122fb144c0dcf5e84'), ObjectId('65de1df122fb144c0dcf5e85'), ObjectId('65de1df122fb144c0dcf5e86'), ObjectId('65de1df122fb144c0dcf5e87'), ObjectId('65de1df122fb144c0dcf5e88'), ObjectId('65de1df122fb144c0dcf5e89'), ObjectId('65de1df122fb144c0dcf5e8a'), ObjectId('65de1df122fb144c0dcf5e8b'), ObjectId('65de1df122fb144c0dcf5e8c')], acknowledged=True)

In [25]:
coll_create.find()

In [26]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('65de1b8c22fb144c0dcf5e7e'), 'a': 1, 'b': 2}
{'_id': ObjectId('65de1daa22fb144c0dcf5e7f'), 'name': 'sharmi', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('65de1db422fb144c0dcf5e80'), 'list_course': ['data science masters ', 'end-to-end-ml-project', 'machine learning bootcamp'], 'mentor': ['sudhanshu', 'krish', 'anurag', 'bapi']}
{'_id': ObjectId('65de1df122fb144c0dcf5e81'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65de1df122fb144c0dcf5e82'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65de1df122fb144c0dcf5e83'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65de1df122fb144c0dcf5e84'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65de1df122fb144c0dcf5e85'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65de1df122fb144c0dcf5e86'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65de1df122fb144c0dcf5e87'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65de1df122fb144c0dcf5e88'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65de1df122fb144c0dcf5e89'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65de1df122fb144c0dcf5e8a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65de1df122fb144c0dcf5e8b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65de1df122fb144c0dcf5e8c'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [28]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [29]:
coll_create.insert_many(list_of_records)

InsertManyResult([ObjectId('65de1f7a22fb144c0dcf5e8d'), ObjectId('65de1f7a22fb144c0dcf5e8e'), ObjectId('65de1f7a22fb144c0dcf5e8f')], acknowledged=True)

In [32]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('65de1b8c22fb144c0dcf5e7e'), 'a': 1, 'b': 2}
{'_id': ObjectId('65de1daa22fb144c0dcf5e7f'), 'name': 'sharmi', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('65de1db422fb144c0dcf5e80'), 'list_course': ['data science masters ', 'end-to-end-ml-project', 'machine learning bootcamp'], 'mentor': ['sudhanshu', 'krish', 'anurag', 'bapi']}
{'_id': ObjectId('65de1df122fb144c0dcf5e81'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65de1df122fb144c0dcf5e82'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65de1df122fb144c0dcf5e83'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65de1df122fb144c0dcf5e84'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65de1df122fb144c0dcf5e85'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65de1df122fb144c0dcf5e86'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65de1df122fb144c0dcf5e87'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65de1df122fb144c0dcf5e88'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65de1df122fb144c0dcf5e89'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65de1df122fb144c0dcf5e8a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65de1df122fb144c0dcf5e8b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65de1df122fb144c0dcf5e8c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65de1f7a22fb144c0dcf5e8d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65de1f7a22fb144c0dcf5e8e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65de1f7a22fb144c0dcf5e8f'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [30]:
coll_create.find_one()

{'_id': ObjectId('65de1b8c22fb144c0dcf5e7e'), 'a': 1, 'b': 2}

In [31]:
for i in coll_create.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': ObjectId('65de1f7a22fb144c0dcf5e8d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65de1f7a22fb144c0dcf5e8e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65de1f7a22fb144c0dcf5e8f'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [34]:
# $gte - greater than equals to in mongodb
for i in coll_create.find({'_id' : {'$gte' : '4'}}):
    print(i)

In [35]:
# updating 
coll_create.update_many({'companyName': 'iNeuron'} ,{"$set" :{'companyName': 'pwskills'}} )

UpdateResult({'n': 3, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [36]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('65de1b8c22fb144c0dcf5e7e'), 'a': 1, 'b': 2}
{'_id': ObjectId('65de1daa22fb144c0dcf5e7f'), 'name': 'sharmi', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('65de1db422fb144c0dcf5e80'), 'list_course': ['data science masters ', 'end-to-end-ml-project', 'machine learning bootcamp'], 'mentor': ['sudhanshu', 'krish', 'anurag', 'bapi']}
{'_id': ObjectId('65de1df122fb144c0dcf5e81'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65de1df122fb144c0dcf5e82'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65de1df122fb144c0dcf5e83'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65de1df122fb144c0dcf5e84'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65de1df122fb144c0dcf5e85'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65de1df122fb144c0dcf5e86'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65de1df122fb144c0dcf5e87'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65de1df122fb144c0dcf5e88'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65de1df122fb144c0dcf5e89'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65de1df122fb144c0dcf5e8a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65de1df122fb144c0dcf5e8b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65de1df122fb144c0dcf5e8c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65de1f7a22fb144c0dcf5e8d'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65de1f7a22fb144c0dcf5e8e'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65de1f7a22fb144c0dcf5e8f'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [37]:
# delete
coll_create.drop()

In [38]:
for i in coll_create.find():
    print(i)